<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/landing.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Your Home Page</h1>
    <a href="/sql/lecturers" class="btn">Go to SQL Page</a>
<!--    <a th:href="@{/faq}" class="btn">Go to FAQ</a>-->
<!--    <a th:href="@{/support}" class="btn">Go to Support</a>-->
</div>
</body>
</html>