<!DOCTYPE html>
<html lang="en" xmlns:th='http://thymeleaf.org'>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Your Home Page</h1>
    <a th:href="@{/sql/lecturers}" class="btn">Go to SQL Page</a>
<!--    <a th:href="@{/faq}" class="btn">Go to FAQ</a>-->
<!--    <a th:href="@{/support}" class="btn">Go to Support</a>-->
</div>
</body>
</html>