html{
  box-sizing: border-box;
  background-color: #F1F1F1;
}

:root{
  --base-yellow:#CC9933;
  --light-yellow:#F0BF5F;
  --dark-yellow:#A47312;
  --white: #fff;
  --graphite: #333333;
  --slate: #666666;
  --font-c: #000000;
  --ptag-c: #999999;
  --grayish:#E9E9E9;

}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100%;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../font/MullerRegular.woff2') format('woff2'),
		url('../font/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../font/MullerMedium.woff2') format('woff2'),
		url('../font/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../font/MullerBold.woff2') format('woff2'),
		url('../font/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
body{
  min-width: 1200px;
  font-family: "Muller",Arial, Helvetica, sans-serif;
}

/**/
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;

}

.btn-reset{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex{
  display: flex;
}


.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


.header{
  padding-top: 36px;
}

.login-arrow{
  align-self: center;
  transform: translateY( -2px );
  min-width: 12px;
  min-height: 24px;
  fill: var(--base-yellow);
  transition: fill 0.3s ease-in-out;
}

.login-text{
  margin-left: 5px;
}

.login{
  display: flex;

  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--base-yellow);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out, fill 0.3s ease-in-out;
  fill: var(--base-yellow);
}

.login.svg{
  margin-right: 5px;
}

.login:hover  .login-arrow{
  fill: var(--light-yellow);
}

.login:focus  .login-arrow{
  fill: var(--base-yellow);
}

.login:active  .login-arrow{
  fill: var(--dark-yellow);
}

.login:hover{
  color: var(--light-yellow);
}


.login:focus{
  color: var(--base-yellow);
  outline: 1px solid var(--base-yellow);
}


.login:active{
  color: var(--dark-yellow);
}


.first-line{
  align-items: center ;
  margin: 0;
  margin-bottom: 30px;
}

.second-line{
  background-color: var(--white);
  border-radius: 15px ;
  min-height: 70px;
}

.header-container{
  margin: 0 auto;
  margin-bottom: 70px;
}

.header-logo{
  margin-right: 40px;
}

.phone-number{
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--slate);

}

.header-list-item{
  color: var(--slate);
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-nav{
  margin-right: auto;
}

.second-line{
  align-items: center;
}

.header-list{
  padding-left: 45px;
}

.button-space{
  padding-right: 45px;
}

.list-button{
  display: inline;
  background-color:  var(--white);
  border: 1px solid var(--base-yellow);
  border-radius: 10px;
  padding: 13px 20px;
  font-size: 16px;
  color: var(--base-yellow);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.list-button:focus{
  outline: none;
  background-color: var(--base-yellow);
  color: var(--white);
}

.list-button:hover{
  background-color: var(--base-yellow);
  color:  var(--white);
}

.list-button:active{
  background-color: var(--dark-yellow);
  color:  var(--white);
}


.list-button:focus .moving-arrow{
  outline: none;
  background-color: var(--base-yellow);
  color:  var(--white);
}

.list-button:hover{
  background-color: var(--base-yellow);
  color:  var(--white);
}

.list-button:active{
  background-color: var(--dark-yellow);
  color:  var(--white);
}



.list-button:not(:last-child){
  margin-right: 40px;
}



.section-header{
  margin: 0;
  margin-bottom: 20px;
  padding-left: 45px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;

}

.section-header-style{
  color: var(--graphite);
  outline: none;
  transition:  color 0.3s ease-in-out;
}

.section-header-style:hover{
 color: var(--base-yellow);

}

.section-header-style:focus{
  color: var(--base-yellow);
  outline-offset: 2px;
  outline: 1px solid var(--base-yellow);

}


.section-header-style:active{
  color: var(--dark-yellow);
}

.special{
  margin: 0;
  margin-bottom: 40px;
}

.offer-list{
  margin: 0;
  column-count: 2;

  padding: 0;
}

.offer-info{
  margin: 0;
  padding: 0;
}

.offered-product{
/*  outline: 1px solid black; */
  margin: 0;
  margin-bottom: 0;
  padding: 0;

}

.stuff{
  border-radius: 15px;
  overflow: hidden;
  padding-left: 45px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 573px;
  min-height: 258px;
}

.stuff:first-child{
  margin-bottom: 24px;
  border-radius: 15px;
  overflow: hidden;
}

.stuff:nth-child(1){

  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(../img/list-element-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.stuff:nth-child(2){


  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(../img/list-element-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.stuff:nth-child(3){
  width: 573px;
  min-height: 540px;
  padding-top: 212px;
  background-image: url(../img/list-element-3.png);
  background-repeat: no-repeat;
  background-size: contain;

}


.offer-info{
  width: 420px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color:  var(--white);
  margin-bottom: 15px;
}

.special-big{
  max-width: 299px ;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.special-price-tag{
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color:  var(--white);
  margin-bottom: 47px;
}


.about-offer{
  display: flex;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-yellow);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 11px 11px;
  padding-right: 15px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.about-offer:hover{
  color: var(--light-yellow);

}

.about-offer:focus{
  color: var(--light-yellow);
}

.about-offer:active{
  color:  var(--white);
}

.moving-arrow{
  stroke: var(--light-yellow);
  transform: translateY( 2px );
}

.about-offer:hover .moving-arrow{
  stroke: var(--light-yellow);
  transition:transform 0.3s ease-in-out;
  transform: translate( 11px, 2px );
}

.about-offer-big:hover .moving-arrow{
  stroke: var(--light-yellow);
  transition:transform 0.3s ease-in-out;
  transform: translate( 11px, 2px );
}




.about-offer-big{
  display: flex;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-yellow);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 11px 11px;
  padding-right: 15px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}


.about-offer-big:hover{
  color: var(--light-yellow);
}

.about-offer-big:focus{
  color: var(--light-yellow);
}

.about-offer-big:active{
  color:  var(--white);
}


.about-us{
  margin: 0;
  margin-bottom: 70px;
}

.about-info{
  width: 888px;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
}

.services{
  margin: 0;
  margin-bottom: 70px;
}

.services-list{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.info-link{
  font-size: 20px;
  font-weight: 500;
}

.info-link:hover{
  color: var(--light-yellow);
}

.info-link:focus{
  color: var(--base-yellow);
}

.info-link:active{
  color: var(--dark-yellow);
}


.info-link:hover .moving-arrow{
  stroke: var(--light-yellow);
}

.info-link:focus .moving-arrow{
  fill: var(--base-yellow);
}

.info-link:active .moving-arrow{
  fill: var(--dark-yellow);
}

.service-info{
  width: 573px;
  min-height: 330px;
  border-radius: 15px;
  background-color:  var(--white);
  font-size: 14px;
  margin-bottom: 30px;
  padding-top: 190px;
  padding-left: 45px;
}

.about-service{
  margin: 0;
}

.service-info:nth-child(1){
  background-image: url(../img/service-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 573px 165px;
}

.service-info:nth-child(2){
  background-image: url(../img/service-3.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 573px 165px;
}

.service-info:nth-child(3){
  margin-bottom: 0;
  background-image: url(../img/service-2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 573px 165px;
}

.service-info:nth-child(4){
  margin-bottom: 0;
  background-image: url(../img/service-4.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 573px 165px;
}

.info-link{
  display: flex;
  font-size: 20px;
  line-height: 40px;
  color: var(--base-yellow);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 15px 15px;
  padding-right: 15px;
  align-content: center;
  flex-wrap: wrap;
}

.info-link:hover .moving-arrow{
  fill: var(--light-yellow);
  transition:all 0.3s;
  transform: translate( 11px, 2px );

}

.info-link:focus .moving-arrow{
  transition:all 0.3s;
  transform: translate( 0, 2px );
}


.info-link:active .moving-arrow{
  transition:all 0.3s;
  transform: translate( 0, 2px );
}

.about-service{
  max-width: 402px;
  min-height: 64px;
  font-size: 16px;
  line-height: 32px;
}
.advantages{
  margin: 0;
  margin-bottom: 70px;

}

.advantage-list{
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
}


.advantage-card{
  display: flex;
  max-width: 276px;
  min-height: 276px;
  background-color: var(--white);
  border-radius: 15px;
  padding-top: 116px;
  padding-left: 45px;
  padding-right: 42px;
  padding-bottom: 32px;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-position: 45px 40px;
 /* outline: 1px solid black; */
 margin: 0;
}

.advantage-card:nth-child(1){
  background-image: url(../img/bathtub.svg);
}

.advantage-card:nth-child(2){
  background-image: url(../img/hanger.svg);
}

.advantage-card:nth-child(3){
  background-image: url(../img/heating.svg);
}

.advantage-card:nth-child(4){
  background-image: url(../img/hotel-key.svg);
}

.advantage-card:nth-child(5){
  background-image: url(../img/parking.svg);
}

.advantage-card:nth-child(6){
  background-image: url(../img/reception.svg);
}

.advantage-card:nth-child(7){
  background-image: url(../img/security-box.svg);
}

.advantage-card:nth-child(8){
  background-image: url(../img/swimming-pool.svg);
}

.advantage-card:nth-child(-n+4){
  margin-bottom: 20px;
}

.advantage-text{
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 32px;
}

.boarding{
  margin-bottom: 70px;
}


.boadrding-places{
  flex-wrap: wrap;
  justify-content: space-between;
}

.place{
  width:374px;
  min-height: 440px;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 15px;

}

.text-inside{
  padding-left: 45px;
  padding-right: 45px;

}

.hotel-name{
  display: block;
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--font-c);
}

.price-tag{
  display: inline-block;
  margin-right: 45px;
  color: var(--ptag-c);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.inside{
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: var(--font-c);
}

.night{
font-size: 16px;
font-weight: 400;
line-height: 16px;
color: var(--font-c);
}


.stars{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.destination{
  margin: 0;
  margin-bottom: 32px;
  display: inline;
}

.location{
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: var(--ptag-c);
}

.room-card:nth-child(-n+6){
  margin-bottom: 20px;
}

.room {
  background-color:  var(--white);
  border-radius: 10px;
  border: 1px solid var(--base-yellow);
  color: var(--base-yellow);
  min-height: 42px;
  padding-right: 20px;
  padding-left: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.room:focus{
  outline: none;
  background-color: var(--base-yellow);
  color:  var(--white);
}

.room:hover{
  background-color: var(--base-yellow);
  color:  var(--white);
}

.room:active{
  background-color: var(--dark-yellow);
  color:  var(--white);
}


.rating{
  display: inline-block;
  min-width: 70px;
  margin-bottom: 20px;
}

.image-params{
  width: 14px;
  min-height: 14px;
}

.image-params:not(:last-child){
  margin-right: 6px;
}

.watch-extra{
  margin: 0;
}


.full-link{
  display: flex;
  position: relative;
  background-color: transparent;
  background-image: url(../img/pic9.png);
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  color:  var(--white);
}

.extra-text{
  background-image: url(../img/extra-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 13px 10px;
  padding-right: 15px;
  font-size: 16px;
}

.extra-text:before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 100%;
}

.city{
  font-size: 12px;
}

.form-header{
  padding-left: 0;
}

.contacts-form{
  margin-bottom: 70px;
}

.form-container{

  padding-left: 45px;
  padding-right: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color:  var(--grayish);
  border-radius: 15px;
}


.form-body{
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 31px;
  padding-bottom: 30px;
  background-color:  var(--white);
  border-radius: 15px;
  min-height: 106px;
}

.form-space{
  margin: 0;
}


.selection-param{
  line-height: 21px;
  font-size: 12px;
  min-height: 43px;
}

.selector-patch{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 169px;
  margin-right: 41px;
}

.selector-patch-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 121px;
  margin-right: 41px;
  border-bottom: 1px solid var(--grayish);
}

.margin-fix{
  margin-right: 51px;
}

.selector-patch-2:last-child{
  margin-right: 0 !important;
}


.slider-val{
  font-size: 16px;
  width: 169px;
  border: 0;
}


.val{
  width: 121px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid var(--white);
}


.form-button{
  min-height: 42px;
  width: 108px;
  margin: 0 ;
}

.contacts-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:45px 45px ;
  background-color:  var(--white);
  border-radius: 15px;
}

.company-contacts{
  margin-bottom: 40px;
}

.contacts-header{
  padding-left: 40px;
}

.company-contacts-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 375px;
}


.contacts-object{
  display: flex;
}


.contacts-object-name{
  font-size: 20px;
  font-style: normal;
  margin-right: auto;
}


.requisits{
  margin: 0;
  width: 230px;
  padding-bottom: 23px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.find-route-btn{
  font-size: 16px;
  line-height: 16px;
    color: var(--base-yellow);
    padding: 27px 29px;
    border: 1px solid var(--base-yellow);
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}

.find-route-btn:focus{
  outline: none;
  background-color: var(--base-yellow);
  color:  var(--white);
}

.find-route-btn:hover{
  background-color: var(--base-yellow);
  color:  var(--white);
}

.find-route-btn:active{
  background-color: var(--dark-yellow );
  color:  var(--white);
}

.contacts-object:not(:first-child){
  padding-top: 25px;
}
.contacts-object:last-child{
  margin-bottom: 45px;
}

.contacts-object{
  border-bottom: 1px solid  var(--white);
}
.telephone {
  color: var(--slate);
  font-size: 16px;
  line-height: 24px;
  color: var(--base-yellow);
  display: block;
  width: 146px;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.telephone:hover{
  color: var(--base-yellow);
}

.telephone:focus{
  color: var(--base-yellow);
  outline-offset: 2px;
  outline: 1px solid var(--base-yellow);
}

.telephone:active{
color: var(--dark-yellow);
}

.mail-for{
  color: var(--ptag-c);
}


.mail-to {
  font-size: 16px;
  line-height: 24px;
  color: var(--base-yellow);
  display: block;
  width: 120px;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.mail-to:hover{
  color: var(--light-yellow);
}

.mail-to:focus{
  color: var(--base-yellow);
  outline-offset: 2px;
  outline: 1px solid var(--base-yellow);
}

.mail-to:active{
color: var(--dark-yellow);
}


.office-img{
  width: 653px  ;
  min-height: 528px;
  overflow: hidden;
  border-radius: 15px;
}


.footer-container{
  padding: 45px 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--graphite);
  border-radius: 15px;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  min-height: 341px;
  background-position: 739px 112px ;
}


.footer-left{
  width: 302px;
}



.owner{
  font-size: 16px;
  line-height: 30.4px;
  width: 302px;
  color:  var(--white);
  margin: 0;
  margin-bottom: 37px;
}

.responsibility{
  margin: 0;
  font-size: 16px;
  line-height: 30.4px;
  width: 302px;
  color:  var(--white);
  margin-bottom: 40px;
}


.EULA{
  font-size: 16px;
  line-height: 24px;
  color: var(--base-yellow);
  display: block;
  width: 237px;
}


.company-adress-footer{
  display: inline;
  font-size: 16px;
  line-height: 30.4px;
  color:  var(--white);
  margin: 0;
}

.adress-space{
  margin-bottom: 15px;
}

.footer-phone{
  padding: 0;
  margin-bottom: 15px;
}


.link-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.network-link{
  margin-bottom: 20px;
}
